body {
    font-family: Arial;
    background-color: rgb(185, 179, 175);
}

li > q {
    line-height: 2em;
}

a {
    text-decoration: none;
}

#productDescription {
    background-color: #328fa8;
}

ul {
    list-style-type: none
}